.btn{
    width: 5vw;
    align-content: center;
    button{
        display: block;
        margin: 0 auto;
        background-color: transparent;
        border: none;
        font-size: 2.5vw;
        &:hover{
            cursor: pointer;
            transform: scale(1.2 );
        }
    }
   
}